*.iml
.gradle.idea
.idea
/.idea/*
/local.properties
/.idea/libraries:
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/bns/build
/jobs/build
/matrimony/build
/sangham/build
/image_editing/build
/captures
.externalNativeBuild
app/release
app/debug
app/proddebug
app/schemas
docs/
/.idea/*
.idea/assetWizardSettings.xml
*.log
/common/.cxx
/libraries/benchmark/build