<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="com.droid.netflixIMDB">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <queries>
        <package android:name="com.google.android.youtube" />
    </queries>

    <application
            android:name=".Application"
            android:allowBackup="false"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning"
            tools:replace="android:allowBackup">

        <!-- Dev Ad Unit ID -->
<!--        <meta-data-->
<!--                android:name="com.google.android.gms.ads.APPLICATION_ID"-->
<!--                android:value="ca-app-pub-3940256099942544~3347511713"/>-->

        <!-- Prod Ad Unit ID -->
        <meta-data
                android:name="com.google.android.gms.ads.APPLICATION_ID"
                android:value="ca-app-pub-2664611290118817~3328235179"/>


        <activity
                android:name=".ImageShowerActivity"
                android:exported="false"
                android:screenOrientation="portrait" />
        <activity
                android:name=".Dashboard"
                android:configChanges="uiMode"
                android:exported="false"
                android:screenOrientation="portrait" />
        <activity
                android:name=".LanguageActivity"
                android:configChanges="uiMode"
                android:exported="true"
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
                android:name=".ReaderService"
                android:exported="true"
                android:label="@string/app_name_accessibility_service"
                android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                    android:name="android.accessibilityservice"
                    android:resource="@xml/accessibility_service_config" />
        </service>

        <meta-data
                android:name="com.google.firebase.messaging.default_notification_icon"
                android:resource="@drawable/ic_stat_round_fast_forward_black_48dp" />
        <meta-data
                android:name="preloaded_fonts"
                android:resource="@array/preloaded_fonts" />

        <receiver android:name=".notifications.NotificationActionReceiver" />
    </application>

</manifest>